---
const { lang } = Astro.params;
const currentLang = lang || 'en';
const languages = ['en', 'ro', 'es'];
---
<div class="lang-switcher-container">
    <div class="lang-collapsed" aria-label="Current Language">
        <span>{currentLang}</span>
    </div>
    
    <div class="lang-expanded">
        {languages.map((l, index) => (
            <>
                <a href={`${import.meta.env.BASE_URL}/${l}/`} class={`lang-btn ${currentLang === l ? 'active' : ''}`}>{l.toUpperCase()}</a>
                {index < languages.length - 1 && <span class="lang-separator">|</span>}
            </>
        ))}
    </div>
</div>