---
const { lang } = Astro.params;
const currentLang = lang || "en";
const languages = ["en", "ro", "es"];
---
<div class="lang-switcher-container">
    <div class="lang-collapsed" aria-label="Current Language" role="button" tabindex="0" aria-expanded="false">
        <span>{currentLang}</span>
    </div>
    
    <div class="lang-expanded">
        {languages.map((l, index) => (
            <>
                <a href={`/${l}/`} class={`lang-btn ${currentLang === l ? 'active' : ''}`} aria-current={currentLang === l ? "true" : undefined}>{l.toUpperCase()}</a>
                {index < languages.length - 1 && <span class="lang-separator" aria-hidden="true">|</span>}
            </>
        ))}
    </div>
</div>